<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg" 
        gameLabel="Físico PS4" 
        gamePrice="R$129,99"
        gameType="FÍSICO">
    </app-card>
    <app-card 
        gameCover="assets/bt-4.jpg" 
        gameLabel="Digital PS4" 
        gamePrice="R$119,99"
        gameType="DIGITAL">
    </app-card>
    <app-card 
        gameCover="assets/bt-bad-company-2.jpg" 
        gameLabel="Exlusivo PS5" 
        gamePrice="R$209,99"
        gameType="FÍSICO/DIGITAL">
    </app-card>
    <app-card 
        gameCover="assets/bt-hardline.jpg" 
        gameLabel="Exlusivo PS5" 
        gamePrice="R$209,99"
        gameType="FÍSICO/DIGITAL">
    </app-card>
    <app-card 
        gameCover="assets/ac-cover.jpg" 
        gameLabel="Exlusivo PS5" 
        gamePrice="R$209,99"
        gameType="FÍSICO/DIGITAL">
    </app-card>
    <app-card 
        gameCover="assets/bt-5.jpg" 
        gameLabel="Exlusivo PS5" 
        gamePrice="R$209,99"
        gameType="FÍSICO/DIGITAL">
    </app-card>
</div>